button{
    background: transparent;
    border: 0;
}

body{
    background-color:#f6f6f6;
}

#status{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index:999999999999999999; 
    width: 100%;
    height: 100%;

}


#status .container{
    margin:auto;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 35vh;
    height: 35vh;
    background-color: white;
}

#status .container .component   {
    text-align: center;
    padding:45% 25% 45% 25% ;
}

// --------------Header------------------


.hide-header{
    width:100%;
    padding: 0 5vmin 0 20vmin;
    background-color: rgb(255, 255, 255) !important;
    transition: background-color 1s ease-out;
    position:fixed;
    margin:0;
    top:0;
    height: 8vh;
    z-index:99999; 
    overflow: hidden;

}

.show-header{
    width:100%;
    padding: 0 5vmin 0 20vmin;
    background-image: url('../../images/Materials/background.jpg');
    background-size: cover;
}


.head-paragraph{
    text-align: center;
    color:white;
    padding: 10vmin;
}

.head-paragraph span{
    font-weight: 700;
    font-size: 2em;
}

.head-buttons-up{
    display: flex;
    justify-content: center;
}


.show-header .head-buttons-up .button-left{
    position: absolute;
    left:5vmin;
    top:3vmin;
    height:2.5vh;
    width: 2.5vh;
   fill: white;
   background-image: url('../../images/Materials/group-white.svg');
   background-position: center;
   background-repeat: no-repeat;
}


.show-header .button-center{
    margin:2vmin 0 0 0;
    height:4vh;
    width: 10vh;
   fill: white;
   background-image: url('../../images/Materials/logo-white.svg');
   background-position: center;
   background-size:100%;
   background-repeat: no-repeat;
}


.show-header .head-buttons-up .button-right{
    position: absolute;
    right:10vmin;
    top:3vmin;
    height:2.5vh;
    width: 2.5vh;
}

.hide-header .head-buttons-up .button-left{
    position: absolute;
    left:5vmin;
    top:3vmin;
    height:2.5vh;
    width: 2.5vh;
   fill: rgb(0, 0, 0);
   background-image: url('../../images/Materials/group.svg');
   background-position: center;
   background-repeat: no-repeat;
}


.hide-header .button-center{
    margin:2vmin 0 0 0;
    height:4vh;
    width: 10vh;
   fill: rgb(0, 0, 0);
   background-image: url('../../images/Materials/logo.svg');
   background-position: center;
   background-size:100%;
   background-repeat: no-repeat;
}


.hide-header .head-buttons-up .button-right{
    position: absolute;
    right:10vmin;
    top:3vmin;
    height:2.5vh;
    width: 2.5vh;
}



.head-buttons-down .button-left{
    margin:2vmin 2vmin 0 2vmin;
    height:2.5vh;
    width: 2.5vh;
   fill: white;
   background-image: url('../../images/Materials/share-white.svg');
   background-position: center;
   background-size: cover;
}

.head-buttons-down .button-center{
    margin:2vmin 2vmin 0 2vmin;
    height:2.5vh;
    width: 2.5vh;
   fill: white;
   background-image: url('../../images/Materials/star.svg');
   background-position: center;
   background-size: cover;
}

.head-buttons-down .button-right{
    margin: 2vmin 2vmin 0 2vmin;
    height:2.5vh;
    width: 2.5vh;
   fill: white;
   background-image: url('../../images/Materials/arrow-white.svg');
   background-position: center;
}


// -----------------------------Modals------------------------

 .off {
    height: 100%;
    width: 12vh;
    position: fixed;
    background-color: white ;
    z-index: 999999999999999999; 
}

.off:hover .on{
    display: block;
}

.on{
display: none;
height: 100%;
    width: 32vh;
    z-index: 9999999999999999999999;
    position: fixed;
    background-color: white ;
    animation: 0.3s slideLeft;
}

@keyframes slideLeft{
    from {width:12vh;
     }
    to {width: 32vh;
     }
}


.group-scroll{
    height: 88vh;
    overflow-y: auto;

    margin: 0;
}


.groups{
    width: 100%;
    padding: 1vmin;
    margin: 0;
}


.groups .active:hover  .group button{
    display : block;
}


.groups .active:hover{
    background-color: #f6f6f6;
}



.group{
    justify-content: center;
    display: flex;
    padding:2vmin 0 1vmin 0;
}


.group img{
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    float: left;
    margin:0;
}


.group span{
    float: left;
    padding-left: 2vmin;
    padding-top: 0.2vmin;
    width: 23ch ;
    padding: 1vmin;
}


.group p{
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 1em;        /* fallback */
    max-height: 1em;
    max-width: 22ch;
}


.group .clear{
    margin-right: -2vmin;
    margin-top: 0.5vmin;
    padding: 1vmin;
    display: none;
    width: 2vh;
    height: 2vh;
   fill: rgb(0, 0, 0);
   background-image: url('../../images/Materials/icons-07.svg');
   transform: rotate(45deg);
   background-position: center;
   background-repeat: no-repeat;
   float: left;
}


.group .add{
    margin-right: -2vmin;
    margin-top: 0.5vmin;
    padding: 1vmin;
    display: none;
    width: 2vh;
    height: 2vh;
   fill: rgb(0, 0, 0);
   background-image: url('../../images/Materials/icons-07.svg');
   background-position: center;
   background-repeat: no-repeat;
   float: left;
}


.title{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 2vmin;
}


.title .button-left{
    height:2.5vh;
    width: 20%;
   fill: rgb(0, 0, 0);
   background-image: url('../../images/Materials/arrow.svg');
   transform: scaleX(-1);
   background-position: center;
   background-repeat: no-repeat;
   float: left;
}



.title .button-left-off{
    margin: 0 1.5vmin 0 1.5vmin;
    height:2.5vh;
    width: 2.5vh;
   fill: rgb(0, 0, 0);
   background-image: url('../../images/Materials/group.svg');
   transform: scaleX(-1);
   background-position: center;
   background-repeat: no-repeat;
}



.title p{
    margin-top: -0.5vmin;
    width: 100%;
    float:left;
    padding-left: 2vmin;
    font-size: 1.5em;
    font-weight: 600;
}


.input{
    width: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    padding-right: 2.5vmin;
    bottom: 2vmin
}


input{
    border:none;
    margin-top: -0.5vmin;
    width: 100%;
    float:left;

}


.search{
    float :left;
    height:2.5vh;
    width: 20%;
    margin: 0 1.5vmin 0 1.5vmin;
   fill: rgba(0, 0, 0, 0.445);
   background-image: url('../../images/Materials/search.svg');
   background-repeat: no-repeat;
}


// ----------------Container-----------------

.container-box{
    background-color:#f6f6f6;
    column-count: 3;
    width: 100%;
    padding: 0 5vmin 0 20vmin;
}

.box{
    display: inline-block;
    border-radius: 2vmin;
    box-shadow:-1vmin -1vmin 2vmin 0.5vmin rgba(0, 0, 0, 0.068),
    1vmin 1vmin 2vmin 0.5vmin rgba(0, 0, 0, 0.062);
    width: 90%;
    margin:10vmin 0 2vmin 2vmin;
    background-color: white;
}

.box .photo{
    border-radius:  2vmin 2vmin 0 0  ;
    width: 100%;
}

.info{
    padding: 3vmin  3vmin 1.5vmin  3vmin;
   
}

a .paragraph span{
       overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
   line-height: 1.3em;        /* fallback */
   max-height: 4em;
   color:black;
   font-size: 1.2em;
   font-weight: 700; 
   margin-bottom: 0.5vmin; 
}

a .paragraph  p{
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3; /* number of lines to show */
line-height: 1.3em;        /* fallback */
max-height: 4em;
color:black;

}

.bottom{
   border-top: 1px solid #dddddd;
   margin: 1vmin;
   padding-top: 3vmin;
}

.bottom img{
    border-radius: 10vh;
    height: 3.5vh;
    width: 3.5vh;
    float: left;
    margin:0 1vmin 0 0;
}

.bottom p{
    font-weight: 700;
    color:  black;
    padding: 0.5vmin;
}

.bottom .share{
    margin-top: -3.5vmin;
    float: right;
    height:2.5vh;
    width: 2.5vh;
   fill: rgb(0, 0, 0);
   background-image: url('../../images/Materials/share.svg');
   background-position: center;
   background-repeat: no-repeat;
}

// -----------------------Scroll------------------

.load{
    width: 100%;
    padding: 15vmin;
    display: flex;
    justify-content: center;
}

.loadN{
    width: 20vh;
    height: 10vh;
    color:black;
    font-size: 1.2em;
    font-weight: 700; 
    margin-bottom: 0.5vmin;
    float:right;
}

.loadN button{
    height:2.5vh;
   fill: rgb(0, 0, 0);
   background-image: url('../../images/Materials/arrow.svg');
   background-position: center;
   background-repeat: no-repeat;
   float: right;
}

.loadP{
    width: 20vh;
    height: 10vh;
    color:black;
    font-size: 1.2em;
    font-weight: 700; 
    margin-bottom: 0.5vmin;
    float: left;
}

.loadP button{
    height:2.5vh;
   fill: rgb(0, 0, 0);
   background-image: url('../../images/Materials/arrow.svg');
   transform: scaleX(-1);
   background-position: center;
   background-repeat: no-repeat;
   float: left;
}

.up{
    width: 3vh;
    height: 3vh;
    position: fixed;
    z-index: 999999999999;
    right:4vmin;
    bottom: 10vh;
    fill: rgb(0, 0, 0);
    background-image: url('../../images/Materials/arrow.svg');
    transform: rotate(-90deg);
    background-position: center;
    background-repeat: no-repeat;
}

.scroll-content{
    background-color: #f6f6f6;
}


@media screen and (max-width: 1100px) {
   
    .container-box{
        column-count: 1;
        padding: 0 15vmin 0 30vmin;
    }
}