
    <div id="status">
        <div class="container">
          <div class="component">
        <p>Please log in to continue</p>
       <div  id="button" class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"  onlogin='window.location.reload(true);'></div>
      </div>
      </div>
      </div>
  
<ion-content >
<div [ngClass]="{ 'on':showHover , 'off': hideHover}"  >
            
       <div class="off">
            <div class="title" >
                <button class="button-left-off"></button>
            </div>     

            <div class="group-scroll">
                <div class="groups" >
                                <div *ngFor=" let i of feed">
                                   <div class="group" >
                                      <img src="https://external.xx.fbcdn.net/safe_image.php?d=AQA0VsACmk6poyFW&w=720&h=720&url=http%3A%2F%2Fcolorhunt.co%2Fimg%2Fog.png&cfs=1&_nc_hash=AQBu1fmuEV7Xyale">
                                    </div>
                       </div>    
                       </div>
                      </div>
                      </div>
   
     <div  class="on">              
                      <div class="title "  *ngIf="!isSearching"  >
                        <p>Your groups</p>
                      </div> 
                      
                      <div class="title "  *ngIf="isSearching"  >
                          <button class="button-left" (click)="closeS()" ></button>
                        <p>Search</p>
                      </div>

            <div class="group-scroll">
 <div class="groups" >
  <div *ngIf="!isSearching">

      <div   class="active"  >
          <div class="group"  (click)="clearAllData()" *ngIf="this.feed.length > 1 "  >
            <img src="https://external.xx.fbcdn.net/safe_image.php?d=AQA0VsACmk6poyFW&w=720&h=720&url=http%3A%2F%2Fcolorhunt.co%2Fimg%2Fog.png&cfs=1&_nc_hash=AQBu1fmuEV7Xyale">
            <span  >Delete all data</span>

          </div>
         </div>

                <div   class="active"  >
                <div class="group"  (click)="loadAll()"   *ngIf="this.feed.length > 1 "  >
                    <img src="https://external.xx.fbcdn.net/safe_image.php?d=AQA0VsACmk6poyFW&w=720&h=720&url=http%3A%2F%2Fcolorhunt.co%2Fimg%2Fog.png&cfs=1&_nc_hash=AQBu1fmuEV7Xyale">
                    <span  >All your groups</span>
                  </div>
                </div>

                <div   class="active"  >
                  <div class="group"  (click)="loadPreference()" *ngIf=" this.feed.length > 3 "  >
                    <img src="https://external.xx.fbcdn.net/safe_image.php?d=AQA0VsACmk6poyFW&w=720&h=720&url=http%3A%2F%2Fcolorhunt.co%2Fimg%2Fog.png&cfs=1&_nc_hash=AQBu1fmuEV7Xyale">
                    <span  >All preference groups</span>
                  </div>
                 </div>

                <div *ngFor=" let i of feed">
                    <div   class="active" >
                    <div class="group" >
                     <img src="https://external.xx.fbcdn.net/safe_image.php?d=AQA0VsACmk6poyFW&w=720&h=720&url=http%3A%2F%2Fcolorhunt.co%2Fimg%2Fog.png&cfs=1&_nc_hash=AQBu1fmuEV7Xyale">
                     <span (click)="load(i)"  >
                       <p>{{i}} </p></span>
                     <button class="clear" (click)="clearData(i)" ></button>
                     
                    </div>
                   </div>
       </div>
       </div>

       <div *ngFor="let res of searches | async" > 

         <div class="active" *ngIf="isSearching">
              <div class="group"  >
                  <div  *ngIf="res.cover">  
                      <div *ngIf="res.cover.source">
                      <img  class="photo" src="{{res.cover.source}}" alt="">
                    </div>
                  </div>
                  <div  *ngIf="!res.cover">  
                      <img src="https://external.xx.fbcdn.net/safe_image.php?d=AQA0VsACmk6poyFW&w=720&h=720&url=http%3A%2F%2Fcolorhunt.co%2Fimg%2Fog.png&cfs=1&_nc_hash=AQBu1fmuEV7Xyale">
                  </div>
               <span (click)="load(res.id)"  >
                    <p> {{res.name}} </p></span>
               <button class="add" (click)="addPage(res.id)" > </button>
              </div>
            </div>
            </div>
      </div>
      
       </div>
       <div class="input">
          <button  class="search" (click)="search(newPage.value)" ></button> 

          <input #newPage 
          placeholder="Search Facebook page name" type="text" >
       </div>
      </div>
 </div>

 <div  [ngClass]="{'hide-header':showheader,'show-header':hideheader}" > 

                <div class="head-buttons-up" >
                    <button class="button-left"  title="Your groups"></button>
                    <button class="button-center"  (click)=" addPage(this.page)"></button>
                    <button class="button-right" title="log">

                    </button>
                    </div>

   <div class="head-paragraph " >
      <span  (click)=" addPage(this.page)"> the different view </span>
      <br>
   <p>"The different view" group is dedicated to experts and passionate people from 
   <br>arts and creative industries. It has the purpose to provide daily inspiration and
   <br> resources, to generate networking and to offer criticism on fresh ideas and 
   <br>
   presentation of concepts.
   </p>

   <div class="head-buttons-down">
    <a href="https://www.facebook.com/sharer/sharer.php?u=the-different-view.com?utm_content=buffer744b8&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer;src=sdkpreparse" target="_blank"  style="text-decoration: none" > 
      <button class="button-left" title="Share"></button>
    
   </a> 

   <button class="button-center"  title="Add to your groups" ></button>

   <a  href="https://www.facebook.com/{{this.currentP}}/" target="_blank" style="text-decoration: none" > 
    <button *ngIf="this.isSingle" class="button-right" title="Go to facebook page" ></button>
   </a>
   
    </div>
   </div>
</div>

<div class="container-box">

  <div id="data"> Data unavailable</div>
              <ng-container  *ngFor="let post of posts"  >
                  <div class="box" >  
                            <div *ngIf="post.attachments">
                                <div *ngIf="post.attachments.data">
                                    <a [href]=  ' post.link ' target="blank">
                            <img  class="photo" src="{{ post.attachments.data[0].media.image.src}} " alt="">
                          </a>   
                          </div> 
                               </div>

                     <div class="info">

                    <a [href]=  ' post.link ' target="blank" style="text-decoration: none"> 


                      <div  class="paragraph">
                       <span> {{ post.message }} </span>
                        <p >{{ post.description }}</p>
                     </div>
                   </a>


                <div class="bottom" >
                    
                         <a href='http://facebook.com/{{post.from.id}}' target="blank" style="text-decoration: none"> 
                          <img  src="http://graph.facebook.com/{{post.from.id}}/picture"/>
                        <p >{{ post.from.name }}</p>
                     </a> 
                    
                     <a href="https://www.facebook.com/sharer/sharer.php?u={{post.url}}?utm_content=buffer744b8&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer;src=sdkpreparse" target="_blank"  style="text-decoration: none" > 
                    
                      <button class="share" title="Share" >
                      </button>
                    </a> 
                    
               </div>
                 </div>
               </div>  
       </ng-container> 
 </div>
<!--end of row--> 

<button class="up" (click)="scrollUp()" ></button>

<div class="load">
  <button class="loadP" (click)="previousPage()" *ngIf="posts.length > 0  && this.until != this.current   "> <button></button> <p>Previous</p></button>
  <button class="loadN" (click)="nextPage()" *ngIf="posts.length > 0 " > <button></button> <p>Next</p>
  </button>

</div>
<!--end of scroll stuff-->

</ion-content>